[Unit]
Description=Volumio Bluetooth pairing agent
After=bluetooth.service dbus.service
Requires=bluetooth.service dbus.service

[Service]
Type=simple
ExecStart=/usr/local/bin/volumio-bluetooth-agent
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
