[Unit]
Description=Volumio Bluetooth A2DP input playback bridge
After=bluealsa.service volumio-bluetooth-agent.service
Requires=bluealsa.service volumio-bluetooth-agent.service

[Service]
Type=simple
Nice=-5
ExecStart=/usr/bin/bluealsa-aplay -S --profile-a2dp --volume=none --pcm-buffer-time=1000000 --pcm-period-time=100000 -D volumio 00:00:00:00:00:00
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
