[Unit]
Description=Volumio Bluetooth A2DP input playback bridge
After=bluealsa.service volumio-bluetooth-agent.service
Requires=bluealsa.service volumio-bluetooth-agent.service

[Service]
Type=simple
ExecStart=/usr/bin/bluealsa-aplay -S --profile-a2dp -D volumio 00:00:00:00:00:00
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
